<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>matelook</title>
    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <!--<link href="assets/css/bootstrap.css.map" rel="stylesheet">-->
    <link href="../assets/css/custom_matelook.css" rel="stylesheet">
    <link href="../assets/css/grid.css" rel="stylesheet">
  </head>

  <body>
      <!-- note the asset link is different -->
      <div class="container">


        <h1>Hello</h1>

      </div>

  </body>
</html>
